Package: convert-doc
Version: 1.0
Architecture: all
Maintainer: busquets <busquets.barca@gmail.com>
Installed-Size: 96
Depends: curl, xdg-utils, libnotify-bin, wget
Section: text
Priority: optional
Homepage: https://github.com/busquets/convert-doc
Description: Umwandler für Officeformate
 Die Dokumente können via Kontextmenü im Dateimanager umgewandelt werden.
 Die Umwandlung findet auf einem fremden Server statt, wobei die Kommunikation unverschlüsselt abläuft. 
 Sensible Dokumente sollten daher nicht mit diesem Programm umgewandelt werden.
